
body {
  background-color: powderblue;
}
#p1 {
  font-style: oblique;
  color:brown;
} 
#p2 {
  font-style: italic;
  color:brown;
}
#p3 {
  font-style: oblique;
  font-weight: bold;
  color:brown;
}
#p4 {
 font-style: oblique;
  color:brown;
}
#div1 {
  font-style: oblique;
  font-weight: bold;
  color:brown;
}
#div2 {
  font-style: italic;
  color:brown;
}
#div3 {
  font-style: oblique;
  color:brown;
}